# OPENAI_API_KEY=ollama
# OPENAI_BASE_URL=http://localhost:11434/v1/
# OPENAI_MODEL=qwen3:4b

OPENAI_API_KEY=xxxxx
OPENAI_BASE_URL=https://ws-ayccv3fcsby0a1oe.cn-beijing.maas.aliyuncs.com/compatible-mode/v1
OPENAI_MODEL=qwen3.5-flash